<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body class="grid-container-shop">
    <!--Inicio Header -->
    <%-include ('partials/header') %>
<!--Fin Header-->
  <!--inicio aside -->
       <aside class="filter__item">
        <form action="" method="post">
            <div class="filter-search-order">
            <div class="filter__search">
                
                <p class="filter__title">BUSCAR</p>
                <input class="input__search" type="text" name="busqueda" id="buscar" placeholder="Item o categoría" />
            </div> 

            <div class="filter__order"> 
                <p class="filter__title">ORDENAR POR</p>
                <select class="select__order" name="orden" id="orden">
                    <option class="select__order-mayor" value="mayor"> Mayor a menor</option>
                    <option class="select__order-menor" value="menor"> Menor a mayor</option>
                </select>
            </div>
            </div>

            <div class="filter__price">
                <p class="filter__title">PRECIO</p>
                <label class="label__filter-price" for="min">MIN</label>
                <input class="input__price" type="number" name="min" id="min" placeholder="0" />
                <label class="label__filter-price" for="max">MAX</label>
                <input class="input__price" type="number" name="max" id="max" placeholder="0" />
            </div>
            <div class="filter__check">
                <p class="filter__title">FILTRAR</p>
                <div class="filter__check-item">
                <input class="input__check" type="checkbox" name="nuevos" id="nuevos" value="1" />
                    <label class="label__filter-check" for="nuevos">NUEVOS</label>
                </div>
                <div class="filter__check-item">
                <input class="input__check" type="checkbox" name="ofertas" id="ofertas" value="2" />
                    <label class="label__filter-check" for="ofertas">OFERTAS</label>
                </div>
                <div class="filter__check-item">
                <input class="input__check" type="checkbox" name="edicion especial" id="edicion especial" value="3" />
                    <label class="label__filter-check" for="edicion especial">EDICIÓN ESPECIAL</label>
                </div>
                <div class="filter__check-item">
                <input class="input__check" type="checkbox" name="favoritos" id="favoritos" value="4" />
                    <label class="label__filter-check" for="favoritos">FAVORITOS</label>
                </div>
            </div>
        </form>
    
    </aside>
<!--fin aside-->
<!--inicio main-->
<main class="main-containershop">
<section class= "main__cards">
    <% products.forEach(product => { %>

        <article class="card-1" >
            <picture class="card-item__img">
               <span class="card-item__tag">NUEVO</span>
               <img class="card-item__img--front img-responsive" src="<%= product.image_back %>"
                   alt="<%= product.product_description %>">
               <img class="card-item__img--back img-responsive  " src="<%= product.image_front %>"
                   alt="<%= product.product_description %> Box">
           </picture>
        <h6 class="card-item__licence"><%= product.licence_name %></h6>
        <a href="/item "><h3 class="card-item__name"><%= product.product_name %></h3></a>
        <p class="card-item__price" >$ <%= product.price %></p>
        <p class="card-item__cuotas" ><%= product.dues %> CUOTAS SIN INTERES</p>
        </article>

    <% }); %>
</section>

<section class="slider-pagination glide" >
    
    <div class="glide__track-pagination" data-glide-el="track">
        <ul class="pagination__items glide__slides"  >
            <li class="pagination__item glide__slide"> 1
            </li>
            <li class="pagination__item glide__slide" >2
            </li>
            <li class="pagination__item glide__slide" > 3
            </li>
            <li class="pagination__item glide__slide" > 4
             </li>
            <li class="pagination__item glide__slide" > 5
            </li>
        </ul>
    </div>


<div class="glide__arrows" data-glide-el="controls"  >
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="ic:sharp-chevron-left"></iconify-icon>
        </button>
        <button class="glide__arrow glide__arrow--right"  data-glide-dir=">"><iconify-icon icon="ic:sharp-chevron-right"></iconify-icon>
        </button>
      </div>
    </section>
    
   </main>
   <!--fin main-->
 
  <!-- Footer -->
  <%-include('partials/footer') %>
   <script src="../js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide "></script>
      <script>
        new Glide('.glide', {
            type: 'slider',
            startArt: 1,
            perView: 4,
            gap: 5,
            breakpoints: {
                992: {
                    perView: 4
                },
                768: {
                    perView: 5,
                    gap: 0
                }
            }
        }).mount()


    </script>


</body>
   
   </html>













